@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    --light-green: #00606B;
    --dark-green: #00373F;
    --yellow: #F8BF88;
    --grey1: #F4F4F4;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin:0;padding:0;
    background-color: #F6F7F9;
    user-select: none;
    overflow-x: hidden;
}

/* NAV */

.nav {
    position: fixed;
    width: 250px;
    height: 100%;
    background-color: #fff;
    box-shadow: 0px 0px 26px rgba(0, 0, 0, 0.25);
}

.nav .logo {
    position: relative;
    top: 10px;
    left: 55px;
}

.nav-items {
    margin: 40px 0 0 -40px;
}

.nav-item li {
    display: inline;
}

.nav-item {
    color: var(--light-green);
    background-color: var(--grey1);
    padding: 10px 60.3px;
    border-radius: 0 20px 20px 0;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    transition: all .2s ease-in-out;
    outline: none;
}

.nav-item:hover {
    color: var(--yellow);
    background-color: var(--light-green);
}

.nav-item:hover svg.nonactive {
    display: none;
}
.nav-item:hover svg.active {
    display: inline;
}

.nav-item.active {
    color: var(--yellow);
    background-color: var(--light-green);
}

.nav-item svg.active {
    display: none;
}

.nav-item svg.nonactive {
    display: inline;
}

.nav-item.active svg.active {
    display: inline;
}

.nav-item.active svg.nonactive {
    display: none;
}

.nav-item li {
    list-style: none;
}

.nav .account {
    position: absolute;
    width: 210px;
    bottom: 0;
    height: 40px;
    padding: 20px;
    background-color: var(--light-green);
}

.nav .account .left {
    float: left;
    color: var(--yellow);
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    outline: none;
}

.nav .account .identity {
    text-transform: uppercase;
}

.nav .account .id-account {
    color: #fff;
    opacity: 50%;
    font-size: 13px;
}

.nav .account .logout {
    position: absolute;
    bottom: 25px;
    left: 200px;
    outline: none;
}

.open-nav, .close-nav {
    display: none;
}

/* Container - Home */

.container {
    padding: 40px 40px 40px 300px;
}

.container .title {
    color: var(--dark-green);
    margin: 0 0 20px 0;
    font-size: 30px;
    font-weight: 700;
}

.head {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0 -2px;
}

.head .sayhello {
    color: var(--light-green);
    font-size: 30px;
    font-weight: 600;
}

.head .sayhello b {
    text-transform: uppercase;
}

.head .sayhello .last-connection {
    margin-top: 20px;
    font-size: 13px;
}

.head .buttons {
    display: flex;
    flex-wrap: wrap;
    flex: 3;
    position: absolute;
    top: 50px;
    right: 40px;
}

.head .buttons .button {
    color: var(--dark-green);
    height: 80px;
    margin: 0 0 0 20px;
    padding: 35px 85px;
    font-size: 17px;
    font-weight: 700;
    text-decoration: none;
    background: #FFFFFF;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.head .buttons .button:active, .head .buttons .button:focus {
    outline: var(--light-green) solid 2px;
}

.head .buttons .button svg {
    margin-left: 5px;
}

.head .buttons .button span {
    position: absolute;
    margin: 60px 0 0 -105px;
}

.main-account {
    color: #fff;
    width: 600px;
    margin: 40px 10px 0 0;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--light-green);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}

.main-account .title {
    color: #fff;
}

.main-account .title strong {
    float: right;
    margin: 10px 0 0 0;
    font-size: 13px;
}

.main-account .account {
    color: var(--dark-green);
    margin: 0 0 50px 0;
    padding: 50px 30px;
    border-radius: 7.5px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.main-account .account .total {
    user-select: text;
    color: var(--dark-green);
    font-size: 50px;
    font-weight: 700;
}

.main-account .account .total strong {
    color: var(--light-green);
    font-size: 40px;
}

.main-account .account .separator {
    float: right;
    width: 2px;
    height: 100px;
    margin: -80px 150px 0 0;
    border-radius: 2px;
    background-color: var(--dark-green);
}

.main-account .account .evolution {
    color: var(--light-green);
    float: right;
    margin: -55px -140px 0 0;
    font-size: 40px;
    font-weight: 700;
}

.main-account .account .evolution .backgound-indice {
    opacity: 25%;
    margin: -65px 0 0 10px;
}

.main-account .last-op .title {
    width: 120px;
    margin: 0;
    padding: 10px 20px;
    font-size: 15px;
}

.main-account .last-op .separator {
    float: left;
    width: 2px;
    height: 100px;
    margin: -80px 0 0 130px;
    border-radius: 2px;
    background-color: #fff;
}

.main-account .last-op .ops {
    margin: -85px 0 20px 105px;
    list-style: none;
}

.main-account .last-op .op {
    margin: 0 0 10px 0;
}

.main-account .last-op .op .date, .main-account .last-op .op .info, .main-account .last-op .op .dir, .main-account .last-op .op .amount {
    display: inline-block;
    font-weight: 700;
}

.main-account .last-op .op .date {
    opacity: 75%;
}

.main-account .last-op .op .dir {
    margin: 0 5px 0 5px
}

.main-account .last-op .op .amount strong {
    font-size: 10px;
}

.main-account .about-plus {
    color: #fff;
    margin: 0 0 0 205px;
    font-weight: 700;
    text-decoration: none;
    outline: none;
}

.main-account .about-plus .points, .main-account .about-plus span {
    display: inline;
}

.main-account .about-plus .points {
    padding: 0 0 10px 0;
}

.main-account .about-plus .points svg {
    margin: 0 5px 3px 0;
}

.lists-accounts {
    float: right;
    margin: -426px 0 0 0;
}

.lists-accounts .saving, .lists-accounts .insurance, .lists-accounts .credit {
    margin: 0 0 20px 0;
    border-radius: 10px;
    overflow: hidden;
}

.lists-accounts .main {
    position: relative;
    cursor: pointer;
    color: var(--light-green);
    padding: 15px 20px 15px 115px;
    font-weight: 700;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.25);
    z-index: 2;
}

.lists-accounts .insurance .main {
    padding: 15px 20px 15px 115px;
}

.lists-accounts .credit .main {
    padding: 15px 20px 15px 115px;
}

.lists-accounts span, .lists-accounts .dropdown-icon {
    display: inline-block;
}

.lists-accounts .insurance .main span {
    margin-left: 25px;
}

.lists-accounts .credit .main span {
    margin-left: 43.5px;
}

.lists-accounts .dropdown-icon {
    margin-left: 95px;
    transition: all .2s ease-in-out;
}

.lists-accounts .insurance .dropdown-icon {
    margin-left: 124px;
}

.lists-accounts .credit .dropdown-icon {
    margin-left: 141px;
}

.lists-accounts .main .dropdown-icon.active {
    transform: rotate(180deg);
    transition: all .2s ease-in-out;
}

.lists-accounts .list {
    display: none;
    position: relative;
    cursor: pointer;
    color: var(--light-green);
    margin: -15px 0 0 0;
    padding: 15px 10px 10px 10px;
    font-weight: 700;
    background-color: #fff;
    border: 1px solid var(--dark-green);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    animation: spawn-list 1s linear;
    transition: all .2s ease-in-out;
    z-index: 1;
}

.lists-accounts .list.active {
    display: block;
}

.lists-accounts .list ul {
    margin: 20px 0 7px 0;
}

.lists-accounts .list li {
    width: 400px;
    margin: 0 0 20px -40px;
    padding: 10px 0px 10px 12px;
    border-radius: 7.5px;
    list-style: none;
    transition: all .2s ease-in-out;
}

.lists-accounts .list li:hover {
    background-color: rgb(238, 236, 236);
}

.lists-accounts .list a {
    text-decoration: none;
}

.lists-accounts .list a li .title {
    font-size: 20px;
}

.lists-accounts .list a li .account-number {
    opacity: 75%;
    color: var(--light-green);
    margin: -25px 0 0 0;
    font-size: 13px;
}

.lists-accounts .list a li .amount {
    float: right;
    color: var(--dark-green);
    margin: -27px 12px 0 0;
    font-size: 20px;
}

.lists-accounts .list a li .amount strong {
    font-size: 15px;
}

.lists-accounts .list a li .price-insurance {
    float: right;
    color: var(--dark-green);
    margin: -27px 12px 0 0;
    font-size: 20px;
}

.lists-accounts .list a li .price-insurance strong {
    font-size: 15px;
}

.lists-accounts .list a li .price-insurance span {
    font-size: 15px;
    font-weight: 500;
}

/* Transfer */

.transfer-box {
    width: 550px;
    margin: 60px auto 0 auto;
    padding: 30px;
    border-radius: 10px;
    background-color: var(--light-green);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}

.transfer-box .title {
    color: var(--yellow);
    margin-bottom: 20px;
}

.transfer-box .input {
    margin-bottom: 15px;
    border-radius: 7.5px;
    background-color: var(--dark-green);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.transfer-box .debtor-input {
    height: 80px;
}

.transfer-box .input .title {
    margin-left: 5px;
    padding: 5px 6px .5px 5px;
    font-size: 15px;
    font-weight: 600;
}

.transfer-box .input .debtor-select {
    cursor: pointer;
    color: var(--light-green);
    width: 100%;
    height: 50px;
    margin: -20px 0 0 0;
    padding: 0 20px 0 20px;
    border: none;
    border-radius: 7.5px;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.25);
    outline: none;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /*Safari and Chrome*/
    appearance:none;
    transition: all .2s ease-in-out;
}

.transfer-box .input .receiver-input, .transfer-box .input .amount-input {
    cursor: text;
    color: var(--light-green);
    width: 510px;
    height: 50px;
    margin: -20px 0 0 0;
    padding: 0 20px 0 20px;
    border: none;
    border-radius: 7.5px;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.25);
    outline: none;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /*Safari and Chrome*/
    appearance:none;
    transition: all .2s ease-in-out;
}

.transfer-box .input .amount-input {
    width: 500px;
    padding: 0 10px 0 40px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.transfer-box .input .receiver-input:focus, .transfer-box .input .receiver-input:hover, .transfer-box .input .amount-input:focus, .transfer-box .input .amount-input:hover {
    border-top: 5px inset #0ea5b6;
    box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.25);
}

.transfer-box .input .amount {
    margin-top: -23px;
}

.transfer-box .input .amount span {
    color: var(--light-green);
    position: relative;
    top: 23px;
    left: 17px;
    font-size: 20px;
    font-weight: 600;
}

.transfer-box .input .debtor-select:hover {
    box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.25);
}

.transfer-box .input .arrow-select {
    float: right;
    position: relative;
    right: 20px;
    top: -34px;
    transition: all .2s ease-in-out;
}

.transfer-box input[type="submit"] {
    color: var(--yellow);
    cursor: pointer;
    width: 550px;
    height: 50px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 7.5px;
    background-color: var(--dark-green);
    transition: all .2s ease-in-out;
}

.transfer-box input[type="submit"]:focus, .transfer-box input[type="submit"]:hover {
    background-color: #01343b;
    outline: 3px solid #009fb13b;
}

/* Documents */

.documents {
    display: block;
    margin: 40px 0 0 0;
}

.documents .doc {
    display: inline-block;
    width: 270px;
    margin: 0 0 20px 20px;
    padding: 30px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25), inset 0px 0px 10px rgba(0, 0, 0, 0.25)
}

.documents .doc .icon svg {
    margin: 20px 0 30px 70px;
}

.documents .doc .title {
    display: inline;
    font-weight: 700;
}

.documents .doc .download {
    color: #fff;
    float: right;
    display: inline;
    margin: 7px 0 0 0;
    padding: 5px 10px 5px 27px;
    font-size: 0.8em;
    font-weight: 600;
    text-decoration: none;
    border-radius: 2.5px;
    background-color: var(--dark-green);
    background-image: url("../assets/download.svg");
    background-repeat: no-repeat;
    background-position-x: 10px;
    background-position-y: 6.5px;
    background-size: 0.9em;
    transition: all .2s ease-in-out;
}

.documents .doc .download:focus, .documents .doc .download:hover {
    outline: 2px solid #00606b81;
}

.documents .description {
    color: var(--light-green);
    width: 270px;
    height: 58px;
    margin: 20px 0 0 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

/* My card */

.mycard {
    width: 980px;
    margin: 40px auto 0 auto;
}

.mycard .return {
    color: #fff;
    padding: 10px 15px 30px 50px;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 10px 10px 0 10px;
    background-color: var(--dark-green);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    background-image: url("../assets/return.svg");
    background-repeat: no-repeat;
    background-position-x: 15px;
    background-position-y: 11px;
    background-size: 1.2em;
    transition: all .2s ease-in-out;
}

.mycard .return:focus, .mycard .return:hover {
    outline: 3px solid #00606b81;
}

.mycard .content {
    position: relative;
    width: 900px;
    height: 500px;
    margin: 10px 0 0 0;
    padding: 40px 40px 15px 40px;
    border-radius: 10px;
    background-color: var(--light-green);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.mycard .content .title {
    color: var(--yellow);
    margin-top: -20px;
}

.mycard .content .card-detail {
    position: relative;
    width: 350px;
    top: 90px;
    border-radius: 10px 10px 20px 20px;
    background-color: var(--yellow);
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.mycard .content .card-detail .title {
    color: var(--light-green);
    margin: 0 0 20px 0;
    padding: 10px 0 10px 0;
    font-size: 1.2em;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
}

.mycard .content .card-detail .card {
    margin: -20px 0 0 0;
    padding: 40px 40px 35px 40px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    background: linear-gradient(135deg, var(--dark-green) 0%, var(--light-green) 100%);
}

.mycard .content .card-detail .card .puce {
    width: 60px;
    height: 45px;
    background-image: url("../assets/puce.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.mycard .content .card-detail .card .mastercard {
    float: right;
    width: 55px;
    height: 35px;
    margin: -40px 0 0 0;
    background-image: url("../assets/mastercard.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.mycard .content .card-detail .card .num {
    color: #fff;
    margin-top: 40px;
    font-size: 23px;
    font-weight: 700;
}

.mycard .content .card-detail .card .identity, .mycard .content .card-detail .card .date-valid {
    color: #fff;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 500;
    opacity: 50%;
}

.mycard .content .card-detail .card .date-valid {
    float: right;
    margin-top: -19px;
}

.mycard .content .card-options {
    float: right;
    width: 450px;
    margin: -260px 0 0 0;
    padding: 30px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.mycard .content .card-options .title {
    color: var(--dark-green);
    margin: -6.5px 0 0 0;
    font-size: 23px;
}

.mycard .content .card-options .save-button {
    position: relative;
    float: right;
    top: -25px;
    color: var(--light-green);
    padding: 5px 5px 5px 30px;
    font-weight: 600;
    border-radius: 5px;
    background-image: url("../assets/save.svg");
    background-repeat: no-repeat;
    background-position-x: 7px;
    background-position-y: 6px;
    background-size: 1em;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.mycard .content .card-options .option {
    margin: 29px 0 15px 0;
    border-radius: 7.5px;
    background-color: var(--dark-green);
    box-shadow: 0px 0px 10px rgb(0 0 0 / 25%);
    overflow: hidden;
}

.mycard .content .card-options .option .title {
    color: var(--yellow);
    font-size: 1em;
    margin: 10px 0 0 10px;
}

.mycard .content .card-options .option .total {
    float: right;
    color: #fff;
    margin: -18px 10px 0 0;
    font-size: 1em;
    font-weight: 600;
    user-select: text;
}

.mycard .content .card-options .option .total span {
    font-size: 0.8em;
    font-weight: 500;
}

.mycard .content .card-options .option .content {
    width: auto;
    height: auto;
    padding: 20px;
    border-radius: 7.5px 7.5px 0 0;
    background-color: #fff;
    box-shadow: inset 0px 0px 5px rgb(0 0 0 / 25%);
}

.mycard .content .card-options .option .progress-bar {
    height: 15px;
    margin: 0 0 10px 0;
    border-radius: 15px;
    background-color: #f2f2f2;
    box-shadow: inset 0px 0px 3px rgb(0 0 0 / 25%);
}

.mycard .content .card-options .option .progress-bar .progress {
    width: 100%;
    height: 15px;
    border-radius: 15px;
    background: linear-gradient(180deg, #00555F 0%, #003F47 100%);
    box-shadow: 0px 0px 5px rgba(0, 15, 17, 0.24), inset -1.5367e-16px -2.50963px 2.50963px #003C44, inset 1.5367e-16px 2.50963px 2.50963px #005863;
    transition: all .2s ease-in-out;
}

.mycard .content .card-options .option .expense {
    height: 30px;
    color: var(--light-green);
    font-size: 19px;
    font-weight: 700;
}

.mycard .content .card-options .option .expense strong {
    font-size: 15px;
    font-weight: 500;
}

.mycard .content .card-options .option .expense span {
    position: relative;
    top: -10px;
    font-size: 11.5px;
    font-weight: 600;
}

.mycard .content .card-options .option .expense-total {
    float: right;
    height: 30px;
    margin: -30px 0 0 0;
    color: var(--dark-green);
    font-size: 19px;
    font-weight: 700;
}

.mycard .content .card-options .option .expense-total strong {
    font-size: 13px;
    font-weight: 500;
}

.mycard .content .card-options .option .expense-total span {
    position: relative;
    top: -10px;
    right: -20px;
    font-size: 11.5px;
    font-weight: 600;
}

.mycard .content .card-options .option .option-select .title {
    color: var(--dark-green);
}

.mycard .content .card-options .option .option-select .statut {
    margin: 0 0 0 10px;
    font-size: 13px;
}

.mycard .content .card-options .option .option-select .statut.active {
    color: var(--light-green);
    padding: 0 0 0 20px;
    font-weight: 600;
    background-image: url("../assets/active.svg");
    background-repeat: no-repeat;
    background-position-x: 3px;
    background-position-y: 2px;
    background-size: 1em;
}

.mycard .content .card-options .option .option-select .statut.disabled {
    color: rgba(0, 0, 0, 0.25);
    padding: 0 0 0 20px;
    font-weight: 600;
    background-image: url("../assets/disabled.svg");
    background-repeat: no-repeat;
    background-position-x: 3px;
    background-position-y: 2px;
    background-size: 1em;
}

/* Switch On/Off */

.switch {
    --line: #E8EBFB;
    --dot: #00373F;
    --circle: #dddddd;
    --background: #fff;
    --duration: 0.3s;
    --text: #9EA0BE;
    --shadow: 0 1px 3px rgba(0, 9, 61, 0.08);
    cursor: pointer;
    position: relative;
}

.switch:before {
    content: '';
    width: 50px;
    height: 22px;
    border-radius: 16px;
    background: var(--background);
    position: absolute;
    left: 0;
    top: 0;
    box-shadow: var(--shadow);
}

.switch input {
    display: none;
}

.switch input + div {
    position: relative;
}

.switch input + div:before, .switch input + div:after {
    --s: 1;
    content: '';
    position: absolute;
    height: 4px;
    top: 9.5px;
    width: 23px;
    background: var(--line);
    transform: scaleX(var(--s));
    transition: transform var(--duration) ease;
}

.switch input + div:before {
    --s: 0;
    left: 4px;
    transform-origin: 0 50%;
    border-radius: 2px 0 0 2px;
}

.switch input + div:after {
    left: 23px;
    transform-origin: 100% 50%;
    border-radius: 0 2px 2px 0;
}

.switch input + div span {
    padding-left: 60px;
    line-height: 28px;
    color: var(--text);
}

.switch input + div span:before {
    --x: 0;
    --b: var(--circle);
    --s: 4px;
    content: '';
    position: absolute;
    left: 1.5px;
    top: 2px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 var(--s) var(--b);
    transform: translateX(var(--x));
    transition: box-shadow var(--duration) ease, transform var(--duration) ease;
}

.switch input + div span:not(:empty) {
    padding-left: 68px;
}

.switch input:checked + div:before {
    --s: 1;
}

.switch input:checked + div:after {
    --s: 0;
}

.switch input:checked + div span:before {
    --x: 28px;
    --s: 12px;
    --b: var(--dot);
}

@keyframes spawn-list {
    0% {
        margin: -100% 0 0 0;
    }

    100% {
        margin: -15px 0 0 0;
    }
}

@media screen and (max-width: 1430px) {
    .buttons {
        left: 250px;
        right: 0;
        margin: 190px 0 0 0;
    }

    .main-account {
        margin: 220px 10px 0 0;
    }

    .lists-accounts {
        float: left;
        margin: 30px 0 0 100px;
    }

    .mycard .content {
        position: relative;
        width: 400px;
        height: 820px;
        margin: 10px 0 0 0;
        padding: 40px 40px 15px 40px;
    }

    .mycard .content .card-detail {
        position: relative;
        width: 350px;
        top: 15px;
        left: 25px;
        border-radius: 10px 10px 20px 20px;
    }

    .mycard .content .card-options {
        float: left;
        width: 350px;
        margin: 60px 0 0 -5px;
        padding: 30px;
    }
}

@media screen and (max-width: 1010px) {
    .buttons {
        display: block!important;
        width: 250px;
        margin: 0px 0 0 400px;
    }

    .button {
        display: none!important;
    }

    .button.card {
        display: block!important;
        width: 40px;
        padding: 35px 85px!important;
    }

    .main-account {
        margin: 40px 0 0 0;
    }

    .transfer-box {
        width: 350px;
    }

    .transfer-box .input .debtor-select:hover {
        box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.25);
    }

    .transfer-box .input .receiver-input, .transfer-box .input .amount-input {
        width: 310px;
    }

    .transfer-box .input .amount-input {
        width: 300px;
        padding: 0 10px 0 40px;
    }

    .transfer-box input[type="submit"] {
        width: 350px;
    }
}

@media screen and (max-width: 980px) {
    .buttons {
        display: block!important;
        width: 250px;
        margin: 195px 0 0 120px;
    }

    .main-account {
        width: 345px;
        margin: 225px 0 0 0;
    }

    .main-account .account {
        height: 160px;
        margin: 50px 0 50px 0;
        padding: 30px 30px;
    }

    .main-account .account .total {
        font-size: 40px;
    }

    .main-account .account .total strong {
        font-size: 30px;
    }

    .main-account .account .separator {
        float: left;
        width: 280px;
        height: 2px;
        margin: 20px 0 0 0;
    }

    .main-account .account .evolution {
        float: left;
        margin: 30px 0 0 75px;
    }

    .main-account .last-op .title {
        text-align: center;
        width: 190px;
        margin: -20px 0 0 75px;
        padding: 0;
        font-size: 17px;
    }

    .main-account .last-op .separator {
        float: left;
        width: 100px;
        height: 2px;
        margin: 20px 0 0 120px;
    }

    .main-account .last-op .ops {
        margin: 50px 0 20px -20px;
    }

    .main-account .about-plus {
        margin: 0 0 0 75px;
    }
}

@media screen and (max-width: 720px) {
    body {
        width: 100%;
    }

    .nav {
        display: none;
        transition: all .2s ease-in-out;
    }

    .nav.active {
        display: block;
        transition: all .2s ease-in-out;
        z-index: 9999;
    }

    .open-nav.active, .close-nav.active {
        cursor: pointer;
        display: block;
        position: relative;
        top: 20px;
        width: 20px;
        padding: 18px 16px 18px 15px;
        border-radius: 0 30px 30px 0;
        background-color: #fff;
        box-shadow: 0px 0px 10px rgb(0 0 0 / 25%);
    }

    .open-nav.active {
        position: fixed!important;
        z-index: 999;
    }

    .container {
        padding:20px;
        width: 385px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        transition: all .2s ease-in-out;
    }

    .container.nav-active {
        padding:20px;
        width: 385px;
        position: relative;
        left: calc(250px + 50%);
        transform: translateX(-50%);
    }

    .head .buttons {
        margin: 0 0 -125px 45px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    .lists-accounts {
        margin: 30px 0 0 0;
    }

    .lists-accounts .main, .lists-accounts .insurance .main, .lists-accounts .credit .main {
        padding: 15px 123px 15px 75px!important;
    }

    .lists-accounts .main .dropdown-icon {
        float: right;
        margin: 0px -95px 0 0;
    }

    .lists-accounts .list li {
        width: 350px;
    }

    .list.list-credit.active .amount {
        margin: -20px 12px 0 0;
        font-size: 15px;
    }

    .documents {
        position: relative;
        width: 330px;
        left: 50%;
        transform: translateX(-50%);
    }

    .documents .doc {
        margin: 0 0 20px 0!important;
    }

    .mycard .content {
        position: relative;
        width: 300px;
        height: 840px;
        margin: 10px 0 0 0;
        padding: 40px 40px 15px 40px;
    }

    .mycard .content .card-detail {
        position: relative;
        width: 250px;
        top: 15px;
        left: 25px;
        border-radius: 10px 10px 20px 20px;
    }

    .mycard .content .card-detail .card .num {
        color: #fff;
        margin-top: 14px;
        font-size: 13px;
        font-weight: 700;
    }

    .mycard .content .card-options {
        float: left;
        width: 250px;
        margin: 60px 0 0 -5px;
        padding: 30px;
    }

    .mycard .content .card-options .option {
        margin: 35px 0 15px 0;
    }

    .mycard .content .card-detail .card .identity, .mycard .content .card-detail .card .date-valid {
        color: #fff;
        margin-top: 0px;
        font-size: 11px;
        font-weight: 500;
        opacity: 50%;
    }
    
    .mycard .content .card-detail .card .date-valid {
        float: right;
        margin-top: -15px;
    }

    .mycard .content .option-select .statut {
        position: relative;
        top: 5px;
    }

    .mycard .content.options {
        height: 125px!important;
    }

    .switch {
        top: -12px!important;
    }
}